/*
Theme Name:
Author:
Description: We've got more sass than a cow has moo
*/
/* generic useful variables and mixins */
/*
	breakpoint mixins
	usage example:
	@include respond-max($tablet-max) {
		width: 100%;
	}
	
	@include respond-max($mobile-max) {		
		width: 100%;
	}
*/
/* 
	text conversion mixins
	usage example: 
	p {
	  @include font-size(14px);
	}
*/
/* you can use ems instead of rems */
/*
	transitions mixin
	usage example:
	a {
		color: gray;
			@include transition(color .3s ease);
			&:hover {
			color: black;
		}
	}
*/
/*
	cross browser opacity mixin
	usage example:
	.faded-text {
		@include opacity(0.8);
	}
*/
/* Border radius mixins */
/*
	basic pulsate
	usage example:
	.pulsating-text {
		@include pulsate();
	}
*/
/* border radius mixin */
/* box shadow mixin */
/* filter mixin */
/* light to dark */
/* fun c64 colours */
@-webkit-keyframes pulsate {
  /* line 539, ../sass/_styles.scss */
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0; }
  /* line 544, ../sass/_styles.scss */
  25% {
    -webkit-transform: scale(0.8, 0.8);
    opacity: 0.8; }
  /* line 549, ../sass/_styles.scss */
  50% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0; }
  /* line 554, ../sass/_styles.scss */
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1.0; } }

@-moz-keyframes pulsate {
  /* line 561, ../sass/_styles.scss */
  0% {
    -moz-transform: scale(1, 1);
    opacity: 1.0; }
  /* line 566, ../sass/_styles.scss */
  25% {
    -moz-transform: scale(0.8, 0.8);
    opacity: 0.8; }
  /* line 571, ../sass/_styles.scss */
  50% {
    -moz-transform: scale(1, 1);
    opacity: 1.0; }
  /* line 576, ../sass/_styles.scss */
  100% {
    -moz-transform: scale(1, 1);
    opacity: 1.0; } }

@-o-keyframes pulsate {
  /* line 582, ../sass/_styles.scss */
  0% {
    -o-transform: scale(1, 1);
    opacity: 1.0; }
  /* line 587, ../sass/_styles.scss */
  25% {
    -o-transform: scale(0.8, 0.8);
    opacity: 0.8; }
  /* line 592, ../sass/_styles.scss */
  50% {
    -o-transform: scale(1, 1);
    opacity: 1.0; }
  /* line 597, ../sass/_styles.scss */
  100% {
    -o-transform: scale(1, 1);
    opacity: 1.0; } }

@keyframes pulsate {
  /* line 603, ../sass/_styles.scss */
  0% {
    transform: scale(1, 1);
    opacity: 1.0; }
  /* line 608, ../sass/_styles.scss */
  25% {
    transform: scale(0.8, 0.8);
    opacity: 0.8; }
  /* line 613, ../sass/_styles.scss */
  50% {
    transform: scale(1, 1);
    opacity: 1.0; }
  /* line 618, ../sass/_styles.scss */
  100% {
    transform: scale(1, 1);
    opacity: 1.0; } }

/* third party libraries to include */
/* from http://anotheruiguy.gitbooks.io/nodeexpreslibsass_from-scratch/content/demo/reset.html */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

img, object, embed {
  max-width: 100%; }

img {
  border-style: none;
  border-color: transparent;
  border-width: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  a:focus {
    text-decoration: underline;
    outline: none; }

del {
  text-decoration: line-through; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

input[type="radio"] {
  vertical-align: text-bottom; }

input, textarea, select, button {
  font-family: inherit;
  font-weight: inherit;
  background-color: #fff;
  border: 0;
  padding: 0;
  margin: 0; }

table {
  font-size: inherit; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

button {
  cursor: pointer;
  margin: 0;
  width: auto;
  overflow: visible; }

a.button {
  display: inline-block; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.row {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  /* Can't decide whether this will be useful, or will cause issues */ }
  .row:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  .row [class^=col] {
    float: left;
    position: relative;
    margin: 0 1.25%; }
  .row .col1 {
    width: 5.83333%; }
    .row .col1.expand {
      width: 8.33333%; }
  .row .col2 {
    width: 14.16667%; }
    .row .col2.expand {
      width: 16.66667%; }
  .row .col3 {
    width: 22.5%; }
    .row .col3.expand {
      width: 25%; }
  .row .col4 {
    width: 30.83333%; }
    .row .col4.expand {
      width: 33.33333%; }
  .row .col5 {
    width: 39.16667%; }
    .row .col5.expand {
      width: 41.66667%; }
  .row .col6 {
    width: 47.5%; }
    .row .col6.expand {
      width: 50%; }
  .row .col7 {
    width: 55.83333%; }
    .row .col7.expand {
      width: 58.33333%; }
  .row .col8 {
    width: 64.16667%; }
    .row .col8.expand {
      width: 66.66667%; }
  .row .col9 {
    width: 72.5%; }
    .row .col9.expand {
      width: 75%; }
  .row .col10 {
    width: 80.83333%; }
    .row .col10.expand {
      width: 83.33333%; }
  .row .col11 {
    width: 89.16667%; }
    .row .col11.expand {
      width: 91.66667%; }
  .row .col12 {
    width: 97.5%; }
    .row .col12.expand {
      width: 100%; }
  .row .offset1 {
    margin-left: 9.58333%; }
  .row .offset2 {
    margin-left: 17.91667%; }
  .row .offset3 {
    margin-left: 26.25%; }

@media all and (max-width: 568px) {
  section .row [class^=span] {
    width: 97.5%; }
  section .row [class*=offset] {
    margin-left: 1.25%; } }

/* project specific */
html {
  font-size: 16px;
  margin: 0;
  padding: 0; }
  html * {
    box-sizing: border-box;
    font-family: "menlo", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased; }
  html h1, html h2, html h3, html h4, html h5 {
    color: #000;
    font-weight: 100; }
  html h1 {
    font-size: 28px;
    font-size: 1.75rem;
    margin-bottom: 23px; }
  html h2 {
    font-size: 44px;
    font-size: 2.75rem; }
  html h3 {
    font-size: 24px;
    font-size: 1.5rem; }
  html h4 {
    font-size: 18px;
    font-size: 1.125rem; }
  html p, html a {
    font-size: 16px;
    font-size: 1rem;
    font-family: "menlo", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: 25px; }
  html a {
    color: #4040E0;
    display: inline-block; }
    html a:hover {
      text-decoration: none; }
  html body, html html {
    background-color: #fff; }
  html section {
    width: 100%; }

/* prevent responsive on old IE - scrollbars should appear on old IE */
.site-wide {
  max-width: 1136px;
  margin: 0 auto; }
  .lt-ie9 .site-wide {
    min-width: 1136px; }

@font-face {
  font-family: 'liner';
  src: url("fonts/liner.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'code-bold';
  src: url("fonts/code-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'code-light';
  src: url("fonts/code-light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/* pages */
/* modules */
.footer-outer {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #fff;
  text-align: center; }
  .footer-outer .footer-inner p, .footer-outer .footer-inner a {
    font-weight: bold;
    font-size: 12px;
    font-size: 0.75rem; }
  .footer-outer .footer-inner a {
    color: #4040E0; }

.header-outer {
  font-family: "menlo", Helvetica, Arial, sans-serif;
  height: 46px; }
  .header-outer .logo {
    font-family: "liner", Helvetica, Arial, sans-serif;
    display: inline-block;
    color: #2f567d;
    text-decoration: none;
    font-size: 20px;
    line-height: 46px;
    float: left; }
  .header-outer .mobile-menu-button {
    display: inline-block;
    height: 46px;
    width: 40px;
    margin-right: 18px;
    cursor: pointer;
    padding-top: 5px;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    float: right; }
    .header-outer .mobile-menu-button:before, .header-outer .mobile-menu-button:after {
      content: '';
      position: absolute;
      top: 50%;
      height: 15px;
      width: 1px;
      margin-top: -8px;
      background-color: #2f567d;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .header-outer .mobile-menu-button:before {
      left: 0; }
    .header-outer .mobile-menu-button:after {
      right: 0; }
    .header-outer .mobile-menu-button:hover, .header-outer .mobile-menu-button.active {
      padding-top: 9px; }
      .header-outer .mobile-menu-button:hover span, .header-outer .mobile-menu-button.active span {
        padding-top: 4px;
        padding-bottom: 2px; }
        .header-outer .mobile-menu-button:hover span:nth-child(2), .header-outer .mobile-menu-button.active span:nth-child(2) {
          width: 0; }
      .header-outer .mobile-menu-button:hover:before, .header-outer .mobile-menu-button.active:before {
        left: 7px; }
      .header-outer .mobile-menu-button:hover:after, .header-outer .mobile-menu-button.active:after {
        right: 7px; }
    .header-outer .mobile-menu-button span {
      font-size: 0;
      border-bottom: 1px solid #2f567d;
      width: 60%;
      display: block;
      margin: 0 auto;
      padding-top: 6px;
      padding-bottom: 2px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
  .header-outer .menu-meganav-container {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    position: relative;
    margin-left: 24px;
    padding-left: 58px; }
    .header-outer .menu-meganav-container:before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #1d2b45;
      width: 38px;
      height: 1px;
      left: 0;
      top: 50%; }
    .header-outer .menu-meganav-container li {
      display: inline-block;
      font-family: menlo, Helvetica, Arial, sans-serif;
      padding: 0 0 0 30px;
      position: relative;
      font-size: 12px;
      font-size: 0.75rem;
      vertical-align: top;
      overflow: hidden; }
      .header-outer .menu-meganav-container li:first-of-type {
        padding-left: 0; }
        .header-outer .menu-meganav-container li:first-of-type:before {
          display: none; }
      .header-outer .menu-meganav-container li:before {
        content: "";
        position: absolute;
        left: 9px;
        width: 8px;
        height: 8px;
        top: 50%;
        background-color: #ddd;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-clip: padding-box;
        /* stops bg color from leaking outside the border: */
        margin-top: -4px;
        z-indeX: 0; }
      .header-outer .menu-meganav-container li a {
        color: #2f567d;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 11px;
        font-size: 0.6875rem;
        vertical-align: top;
        display: inline-block;
        -webkit-transition: 0.35s;
        -moz-transition: 0.35s;
        -ms-transition: 0.35s;
        -o-transition: 0.35s;
        transition: 0.35s;
        line-height: 46px;
        position: relative;
        overflow: hidden; }
        .header-outer .menu-meganav-container li a:after {
          content: '';
          position: absolute;
          height: 1px;
          background-color: #74accf;
          width: 100%;
          top: 30px;
          left: 100%;
          -webkit-transition: left 0.3s ease;
          -moz-transition: left 0.3s ease;
          -ms-transition: left 0.3s ease;
          -o-transition: left 0.3s ease;
          transition: left 0.3s ease; }
        .header-outer .menu-meganav-container li a:hover:after {
          left: 0; }
    .lt-ie9 .header-outer .menu-meganav-container li.first {
      padding-left: 0; }
      .lt-ie9 .header-outer .menu-meganav-container li.first:before {
        display: none; }
    .header-outer .menu-meganav-container li.active a {
      border-bottom: 2px solid #40E0D0; }

.hero-outer {
  padding: 0;
  position: relative;
  box-sizing: border-box;
  height: 300px;
  padding: 0;
  overflow: hidden;
  background-color: #fff; }
  .hero-outer .row {
    width: 100%; }
  .hero-outer:before {
    content: '';
    width: 400px;
    height: 1px;
    position: absolute;
    top: 0;
    left: -10%;
    display: inline-block;
    background-image: url(images/hero_border_shine.png);
    animation: anim1 90s infinite;
    opacity: 0;
    z-index: 1; }
  .hero-outer:after {
    content: '';
    width: 400px;
    height: 1px;
    position: absolute;
    bottom: 0;
    right: -10%;
    display: inline-block;
    background-image: url(images/hero_border_shine.png);
    animation: anim2 90s infinite;
    opacity: 0;
    z-index: 1; }
  .hero-outer .container {
    height: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center; }
    .hero-outer .container:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #1d2b45;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
    .hero-outer .container:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: #1d2b45;
      -webkit-transition: background-color 0.3s ease;
      -moz-transition: background-color 0.3s ease;
      -ms-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease; }
  .hero-outer .hero-inner {
    width: 100%; }
    .hero-outer .hero-inner h1 {
      font-size: 72px;
      font-size: 4.5rem;
      margin-bottom: 10px;
      color: #1d2b45;
      font-family: "code-light", Helvetica, Arial, sans-serif;
      position: relative;
      display: inline-block;
      background-color: #fff;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease;
      margin-left: 40px; }
      .hero-outer .hero-inner h1:before {
        content: '';
        position: absolute;
        border: 1px solid #1d2b45;
        width: 110%;
        top: 35px;
        left: 45%;
        height: 78%;
        margin-left: -50%;
        z-index: -1;
        display: inline-block;
        -webkit-transition: border 0.3s ease;
        -moz-transition: border 0.3s ease;
        -ms-transition: border 0.3s ease;
        -o-transition: border 0.3s ease;
        transition: border 0.3s ease; }
      .hero-outer .hero-inner h1:after {
        content: '';
        left: -16px;
        top: 0;
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        background-color: #fff;
        z-index: -1;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: content-box; }
    .hero-outer .hero-inner h2 {
      font-size: 12px;
      font-size: 0.75rem;
      text-transform: none;
      color: #3e77a4;
      display: table;
      position: relative;
      margin-left: 40px; }
      .hero-outer .hero-inner h2:after {
        display: inline-block;
        content: '';
        position: absolute;
        left: -16px;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        background-color: #fff;
        z-index: -1;
        padding-left: 16px;
        padding-right: 16px; }

@keyframes anim1 {
  0% {
    left: -10%;
    opacity: 0; }
  5% {
    opacity: 1; }
  15% {
    opacity: 1; }
  25% {
    opacity: 0.85; }
  50% {
    left: 90%;
    opacity: 1; }
  75% {
    opacity: 0.85; }
  100% {
    opacity: 0;
    left: -10%; } }

@keyframes anim2 {
  0% {
    right: -10%;
    opacity: 0; }
  10% {
    opacity: 0.85; }
  20% {
    opacity: 1; }
  35% {
    opacity: 1; }
  50% {
    right: 90%;
    opacity: 1; }
  65% {
    opacity: 0.85; }
  80% {
    opacity: 1; }
  100% {
    opacity: 0;
    right: -10%; } }

.three-post-listing {
  padding-top: 72px; }
  .three-post-listing .three-post-listing__title {
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 24px;
    color: #1d2b45;
    font-family: "code-light", Helvetica, Arial, sans-serif;
    position: relative;
    display: inline-block;
    background-color: #fff; }
  .three-post-listing a {
    padding: 0 32px 0 16px;
    position: relative;
    text-decoration: none; }
    .three-post-listing a:before, .three-post-listing a:after {
      content: '';
      position: absolute; }
    .three-post-listing a:before {
      border: 1px solid #1d2b45;
      width: 100%;
      top: 8px;
      left: 50%;
      height: 100%;
      margin-left: -50%;
      z-index: -1;
      display: inline-block;
      -webkit-transition: border 0.3s ease;
      -moz-transition: border 0.3s ease;
      -ms-transition: border 0.3s ease;
      -o-transition: border 0.3s ease;
      transition: border 0.3s ease; }
    .three-post-listing a:hover:before {
      border: 1px solid #3e77a4; }
    .three-post-listing a:hover p {
      color: #3e77a4; }
    .three-post-listing a h2 {
      padding: 0 10px;
      font-size: 16px;
      font-size: 1rem;
      color: #2f567d;
      display: inline-block;
      background-color: #fff;
      margin-bottom: 18px;
      text-transform: uppercase;
      max-width: 85%;
      -webkit-transition: 0.35s;
      -moz-transition: 0.35s;
      -ms-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s;
      overflow: hidden;
      position: relative; }
      .three-post-listing a h2:hover:after {
        left: 0; }
      .three-post-listing a h2:after {
        content: '';
        position: absolute;
        height: 1px;
        background-color: #74accf;
        width: 100%;
        bottom: 0;
        left: 100%;
        -webkit-transition: left 0.3s ease;
        -moz-transition: left 0.3s ease;
        -ms-transition: left 0.3s ease;
        -o-transition: left 0.3s ease;
        transition: left 0.3s ease; }
    .three-post-listing a img {
      max-width: 100%;
      vertical-align: top;
      margin-bottom: 18px;
      width: 100%; }
    .three-post-listing a p {
      margin-bottom: 18px;
      -webkit-transition: color 0.3s ease;
      -moz-transition: color 0.3s ease;
      -ms-transition: color 0.3s ease;
      -o-transition: color 0.3s ease;
      transition: color 0.3s ease; }
  .three-post-listing .three-post-listing-inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }

.intro-text {
  padding-top: 72px; }
  .intro-text a {
    text-transform: inherit;
    color: inherit;
    text-decoration: none;
    line-height: inherit;
    font-family: inherit;
    font-size: inherit; }
  .intro-text header {
    font-size: 32px;
    font-size: 2rem;
    color: #1d2b45;
    font-family: "code-light", Helvetica, Arial, sans-serif;
    position: relative;
    display: inline-block;
    background-color: #fff;
    z-index: 1;
    padding: 0 16px 8px 16px;
    margin: 0 0 6px 16px; }
  .intro-text p {
    z-index: 1;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    margin-bottom: 16px; }
  .intro-text article, .intro-text aside {
    padding-right: 32px;
    position: relative; }
    .intro-text article:hover:before, .intro-text aside:hover:before {
      animation: intro-hover-off-a 0.5s forwards; }
    .intro-text article:hover:after, .intro-text aside:hover:after {
      animation: intro-hover-off-b 0.5s forwards; }
    .intro-text article:hover .effects:before, .intro-text aside:hover .effects:before {
      animation: intro-hover-off-c 0.5s forwards; }
    .intro-text article:hover .effects:after, .intro-text aside:hover .effects:after {
      animation: intro-hover-off-d 0.5s forwards; }
    .intro-text article:before, .intro-text aside:before {
      position: absolute;
      content: '';
      left: 0;
      top: 16px;
      width: 100%;
      background-color: #1d2b45;
      height: 1px;
      overflow: hidden;
      opacity: 0.5;
      animation: intro-hover-on-a 0.5s forwards; }
    .intro-text article:after, .intro-text aside:after {
      position: absolute;
      content: '';
      left: 100%;
      top: 16px;
      width: 1px;
      background-color: #1d2b45;
      height: 100%;
      overflow: hidden;
      opacity: 0.5;
      animation: intro-hover-on-b 0.5s forwards; }
  .intro-text aside:hover:before {
    animation: intro-hover-on-a 0.5s forwards; }
  .intro-text aside:hover:after {
    animation: intro-hover-on-b 0.5s forwards; }
  .intro-text aside:hover .effects:before {
    animation: intro-hover-on-c 0.5s forwards; }
  .intro-text aside:hover .effects:after {
    animation: intro-hover-on-d 0.5s forwards; }
  .intro-text aside:before {
    width: 0%;
    animation: intro-hover-off-a 0.5s forwards; }
  .intro-text aside:after {
    height: 0%;
    animation: intro-hover-off-b 0.5s forwards; }
  .intro-text aside .effects:before {
    width: 0%;
    animation: intro-hover-off-c 0.5s forwards; }
  .intro-text aside .effects:after {
    height: 0%;
    animation: intro-hover-off-d 0.5s forwards; }
  .intro-text .intro-text-inner {
    display: flex;
    flex-wrap: wrap; }
  .intro-text .effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .intro-text .effects:before {
      position: absolute;
      content: '';
      right: 0;
      top: 100%;
      width: 100%;
      background-color: #1d2b45;
      height: 1px;
      overflow: hidden;
      opacity: 0.5;
      margin-top: 15px;
      animation: intro-hover-on-c 0.5s forwards; }
    .intro-text .effects:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: -16px;
      width: 1px;
      background-color: #1d2b45;
      height: 100%;
      overflow: hidden;
      opacity: 0.5;
      animation: intro-hover-on-d 0.5s forwards; }

/* hover on */
@keyframes intro-hover-on-a {
  0% {
    width: 0%; }
  25% {
    width: 100%; }
  100% {
    width: 100%; } }

@keyframes intro-hover-on-b {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  100% {
    height: 100%; } }

@keyframes intro-hover-on-c {
  0% {
    width: 0%; }
  50% {
    width: 0%; }
  75% {
    width: 100%; }
  100% {
    width: 100%; } }

@keyframes intro-hover-on-d {
  0% {
    height: 0%; }
  75% {
    height: 0%; }
  100% {
    height: 100%; } }

/* hover off */
@keyframes intro-hover-off-a {
  0% {
    width: 100%; }
  75% {
    width: 100%; }
  100% {
    width: 0%; } }

@keyframes intro-hover-off-b {
  0% {
    height: 100%; }
  50% {
    height: 100%; }
  75% {
    height: 0%; }
  100% {
    height: 0%; } }

@keyframes intro-hover-off-c {
  0% {
    width: 100%; }
  25% {
    width: 100%; }
  50% {
    width: 0%; }
  100% {
    width: 0%; } }

@keyframes intro-hover-off-d {
  0% {
    height: 100%; }
  25% {
    height: 0%; }
  100% {
    height: 0%; } }

.articles-podcasts {
  padding-top: 72px; }
  .articles-podcasts .articles-podcasts__inner {
    padding: 0 32px 0 16px;
    position: relative; }
    .articles-podcasts .articles-podcasts__inner:before {
      content: '';
      position: absolute; }
    .articles-podcasts .articles-podcasts__inner:before {
      border: 1px solid #1d2b45;
      width: 100%;
      top: 8px;
      left: 50%;
      height: 100%;
      margin-left: -50%;
      z-index: -1;
      display: inline-block;
      -webkit-transition: border 0.3s ease;
      -moz-transition: border 0.3s ease;
      -ms-transition: border 0.3s ease;
      -o-transition: border 0.3s ease;
      transition: border 0.3s ease; }
    .articles-podcasts .articles-podcasts__inner:hover:before {
      border: 1px solid #3e77a4; }
    .articles-podcasts .articles-podcasts__inner:hover p {
      color: #3e77a4; }

/* anything else */

/*# sourceMappingURL=style.css.map */
