$column: 70;
$margin: 15;
$max-width: (1170 + $margin*2);

.row {
	max-width: meta-unit($max-width, 'px');
	margin: 0 auto;
	position: relative;

	&:after {
		@include clearfix();
	}
	
	[class^=col] {
		float: left;
		position: relative;
		margin: 0 (percentage($margin/$max-width));
	}
	
	.col1 {
		width: (percentage($column/$max-width));
		&.expand {
			width: (percentage(($column+2*$margin)/$max-width));
		}
	}

	.col2 {
		width: (percentage((2*$column+2*$margin)/$max-width));
		&.expand {
			width: (percentage((2*$column+4*$margin)/$max-width));
		}
	}

	.col3 {
		width: (percentage((3*$column+4*$margin)/$max-width));
		&.expand {
			width: (percentage((3*$column+6*$margin)/$max-width));
		}
	}

	.col4 {
		width: (percentage((4*$column+6*$margin)/$max-width));
		&.expand {
			width: (percentage((4*$column+8*$margin)/$max-width));
		}
	}

	.col5 {
		width: (percentage((5*$column+8*$margin)/$max-width));
		&.expand {
			width: (percentage((5*$column+10*$margin)/$max-width));
		}
	}

	.col6 {
		width: (percentage((6*$column+10*$margin)/$max-width));
        
		&.expand {
			width: (percentage((6*$column+12*$margin)/$max-width));
		}
	}

	.col7 {
		width: (percentage((7*$column+12*$margin)/$max-width));
		&.expand {
			width: (percentage((7*$column+14*$margin)/$max-width));
		}
	}

	.col8 {
		width: (percentage((8*$column+14*$margin)/$max-width));
		&.expand {
			width: (percentage((8*$column+16*$margin)/$max-width));
		}
	}

	.col9 {
		width: (percentage((9*$column+16*$margin)/$max-width));
		&.expand {
			width: (percentage((9*$column+18*$margin)/$max-width));
		}
	}

	.col10 {
		width: (percentage((10*$column+18*$margin)/$max-width));
		&.expand {
			width: (percentage((10*$column+20*$margin)/$max-width));
		}
	}

	.col11 {
		width: (percentage((11*$column+20*$margin)/$max-width));
		&.expand {
			width: (percentage((11*$column+22*$margin)/$max-width));
		}
	}

	.col12 {
		width: (percentage((12*$column+22*$margin)/$max-width));
		&.expand {
			width: (percentage((12*$column+24*$margin)/$max-width));
		}
	}		
	.offset1 {
		margin-left: (percentage(($column+3*$margin)/$max-width));
	}

	.offset2 {
		margin-left: (percentage((2*$column+5*$margin)/$max-width));
	}

	.offset3 {
		margin-left: (percentage((3*$column+7*$margin)/$max-width));
	}

	// .offset4 {
	// 	margin-left: (percentage((4*$column+9*$margin)/$max-width));
	// }

	// .offset5 {
	// 	margin-left: (percentage((5*$column+11*$margin)/$max-width));
	// }

	// .offset6 {
	// 	margin-left: (percentage((6*$column+13*$margin)/$max-width));
	// }

	// .offset7 {
	// 	margin-left: (percentage((7*$column+15*$margin)/$max-width));
	// }

	// .offset8 {
	// 	margin-left: (percentage((8*$column+17*$margin)/$max-width));
	// }

	// .offset9 {
	// 	margin-left: (percentage((9*$column+19*$margin)/$max-width));
	// }

	// .offset10 {
	// 	margin-left: (percentage((10*$column+21*$margin)/$max-width));
	// }

	// .offset11 {
	// 	margin-left: (percentage((11*$column+23*$margin)/$max-width));
	// }

	/* Can't decide whether this will be useful, or will cause issues */
	// @include max-mobile() {
	// 	[class*=offset] {
	// 		margin-left: (percentage($margin/$max-width));
	// 	}
	// }

}

@include media($small) {

  section {

    .row {

      [class^=span] {
        width: (percentage((12*$column+22*$margin)/$max-width));
      }

      [class*=offset] {
        margin-left: (percentage($margin/$max-width));
      }
    }
  }
}