.articles-podcasts {
	padding-top: 72px;
	
	.articles-podcasts__inner {
		padding: 0 32px 0 16px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
		}

		&:before {
			border: 1px solid $midnight-blue-5;
			width: 100%;
			top: 8px;
			left: 50%;
			height: 100%;
			margin-left: -50%;
			z-index: -1;
			display: inline-block;
			@include transition(border .3s ease);
		}

		&:hover {

			&:before {
				border: 1px solid $midnight-blue-3;
			}

			p {
				color: $midnight-blue-3;
			}
		}
	}
}