/* inspired by https://dl.dropboxusercontent.com/u/144888/wordpress/2011-03-16-commodore/index.html */

.commadore {
    font-family: $commadore-font;
}

.commadore-row {
    background-color: $c64-light-blue;
    padding: 16px 26px;
    margin: $standard-padding-top 0;
    text-align: center;
}

.commadore-box {

    background-color: $c64-dark-blue;
    padding: 20px 2px 16px 2px;
    max-width: 640px;
    text-align: left;
    margin: 0 auto;
    min-height: 368px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: $commadore-font;
        color: $c64-light-blue;
        @include font-size(12px);
        font-weight: bold;
        line-height: 14px;
        margin-bottom: 20px;
        -moz-osx-font-smoothing: grayscale;
    }

    p {
        text-transform: uppercase;
        font-family: $commadore-font;
        color: $c64-light-blue;
        @include font-size(12px);
        font-weight: bold;
        line-height: 14px;
        -moz-osx-font-smoothing: grayscale;
    }
}

.commadore-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    width: 12px;
    height: 11px;
    display: inline-block;
    vertical-align: top;
}

@keyframes "blink" { from,to { background-color: $c64-dark-blue; } 50% { background-color: $c64-light-blue; } }
@-moz-keyframes blink { from,to { background-color: $c64-dark-blue; } 50% { background-color: $c64-light-blue; } }
@-webkit-keyframes "blink" { from,to { background-color: $c64-dark-blue; } 50% { background-color: $c64-light-blue; } }
@-ms-keyframes "blink" { from,to { background-color: $c64-dark-blue; } 50% { background-color: $c64-light-blue; } }
@-o-keyframes "blink" { from,to { background-color: $c64-dark-blue; } 50% { background-color: $c64-light-blue; } }