.header-outer {
	font-family: $default-font;
	height: 46px;

	.logo {
		font-family: $liner-font;
		display: inline-block;
		color: $midnight-blue-4;
	    text-decoration: none;
	    font-size: 20px;
	    line-height: 46px;
	    float: left;
	}

	.mobile-menu-button {
	    display: inline-block;
	    height: 46px;
	    width: 40px;
	    margin-right: 18px;
	    cursor: pointer;
	    padding-top: 5px;
	    position: relative;
	    @include transition(all .3s ease);
	    float: right;

	    &:before, &:after {
	    	content: '';
	    	position: absolute;
		    top: 50%;
		    height: 15px;
		    width: 1px;
		    margin-top: -8px;
		    background-color: $midnight-blue-4;
		    @include transition(all .3s ease);
	    }

	    &:before {
	    	left: 0;
	    }

	    &:after {
	    	right: 0;
	    }

	    &:hover, &.active {
	    	padding-top: 9px;

	    	span {
    		    padding-top: 4px;
    			padding-bottom: 2px;

    			&:nth-child(2) {
    				width: 0;	
    			}
	    	}

	    	&:before {
	    		left: 7px;
	    	}

	    	&:after {
	    		right: 7px;
	    	}
	    }

		span {
			font-size: 0;
			border-bottom: 1px solid $midnight-blue-4;
			width: 60%;
			display: block;
			margin: 0 auto;
			padding-top: 6px;
    		padding-bottom: 2px;
    		@include transition(all .3s ease);
		}
	}

	.menu-meganav-container {
		display: inline-block;
		text-align: center;
		vertical-align: top;
		position: relative;
		margin-left: 24px;
		padding-left: 58px;

		&:before {
			content: "";
			position: absolute;
			display: inline-block;
			background-color: #1d2b45;
			width: 38px;
			height: 1px;
			left: 0;
			top: 50%;
		}

		li {
			display: inline-block;
			font-family: menlo, Helvetica, Arial, sans-serif;
			padding: 0 0 0 30px;
			position: relative;
			@include font-size(12px);
			vertical-align: top;
			overflow: hidden;

			&:first-of-type {
				padding-left: 0;

				&:before {
					display: none;
				}
			}

			&:before {
				content: "";
				position: absolute;
			    left: 9px;
			    width: 8px;
			    height: 8px;
			    top: 50%;
				background-color: #ddd;
				@include border-radius(5px);
				margin-top: -4px;
				z-indeX: 0;
			}

			a {
				color: $midnight-blue-4;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 100;
				@include font-size(11px);
				vertical-align: top;
				display: inline-block;
				@include transition(0.35s);
				line-height: 46px;
				position: relative;
				overflow: hidden;

				&:after {
					content: '';
					position: absolute;
					height: 1px;
					background-color: $midnight-blue-2;
					width: 100%;
					top: 30px;
					left: 100%;
					@include transition(left .3s ease);
				}

				&:hover {

					&:after {
						left: 0;
					}
				}
			}
		}

		li.first {

			.lt-ie9 & { 
				padding-left: 0;

				&:before {
					display: none;
				}
			}
		}

		li.active {

			a {
				border-bottom: 2px solid #40E0D0;
			}
		}
	}
}