.intro-text {
	padding-top: 72px;

	a {
		@include link-inherit();
	}

	header {
		@include font-size(32px);
		color: $midnight-blue-5;
		font-family: $code-light-font;	
		position: relative;
		display: inline-block;
		background-color: $site-background-color;
		z-index: 1;
		padding: 0 16px 8px 16px;
		margin: 0 0 6px 16px;
	}

	p {
		z-index: 1;
		position: relative;
		padding-left: 32px;
		padding-right: 32px;
		margin-bottom: 16px;
	}

	article, aside {
		padding-right: 32px;
		position: relative;

		&:hover {

			&:before { 
				animation: intro-hover-off-a 0.5s forwards;
			}

			&:after { 
				animation: intro-hover-off-b 0.5s forwards;
			}

			.effects {

				&:before {
					animation: intro-hover-off-c 0.5s forwards;
				}

				&:after {
					animation: intro-hover-off-d 0.5s forwards;
				}
			}
		}

		&:before {
			position: absolute;
			content: '';
			left: 0;
			top: 16px;
			width: 100%;
			background-color: $midnight-blue-5;
			height:1px;
			overflow: hidden;
			opacity: 0.5;
			animation: intro-hover-on-a 0.5s forwards;
		}

		&:after {
			position: absolute;
			content: '';
			left: 100%;
			top: 16px;
			width: 1px;
			background-color: $midnight-blue-5;
			height: 100%;
			overflow: hidden;
			opacity: 0.5;
			animation: intro-hover-on-b 0.5s forwards;
		}
	}

	aside {

		&:hover {

			&:before { 
				animation: intro-hover-on-a 0.5s forwards;
			}

			&:after { 
				animation: intro-hover-on-b 0.5s forwards;
			}

			.effects {

				&:before {
					animation: intro-hover-on-c 0.5s forwards;
				}

				&:after {
					animation: intro-hover-on-d 0.5s forwards;
				}
			}
		}

		&:before {
			width: 0%;
			animation: intro-hover-off-a 0.5s forwards;
		}

		&:after {
			height: 0%;
			animation: intro-hover-off-b 0.5s forwards;
		}

		.effects {

			&:before {
				width: 0%;
				animation: intro-hover-off-c 0.5s forwards;
			}

			&:after {
				height: 0%;
				animation: intro-hover-off-d 0.5s forwards;
			}
		}
	}

	.intro-text-inner {
		display: flex;
		flex-wrap: wrap;
	}

	.effects {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:before {
			position: absolute;
			content: '';
			right: 0;
			top: 100%;
			width: 100%;
			background-color: $midnight-blue-5;
			height: 1px;
			overflow: hidden;
			opacity: 0.5;
			margin-top: 15px;
			animation: intro-hover-on-c 0.5s forwards;
		}

		&:after {
			position: absolute;
			content: '';
			left: 0;
			bottom: -16px;
			width: 1px;
			background-color: $midnight-blue-5;
			height: 100%;
			overflow: hidden;
			opacity: 0.5;
			animation: intro-hover-on-d 0.5s forwards;
		}
	}
}

/* hover on */
@keyframes intro-hover-on-a {
    0% {
		width: 0%;
    }
    25% {
		width: 100%;
    }
    100% {
    	width: 100%;
    }
}

@keyframes intro-hover-on-b {
    0% {
		height: 0%;
    }
    25% {
		height: 0%;
    }
    50% {
		height: 100%;
    }
    100% {
		height: 100%;
    }
}

@keyframes intro-hover-on-c {
    0% {
		width: 0%;
    }
    50% {
		width: 0%;
    }
    75% {
    	width: 100%;
    }
    100% {
    	width: 100%;
    }
}

@keyframes intro-hover-on-d {
    0% {
		height: 0%;
    }
    75% {
		height: 0%;
    }
    100% {
    	height: 100%;
    }
}

/* hover off */
@keyframes intro-hover-off-a {
    0% {
		width: 100%;
    }
    75% {
		width: 100%;
    }
    100% {
    	width: 0%;
    }
}

@keyframes intro-hover-off-b {
    0% {
		height: 100%;
    }
    50% {
		height: 100%;
    }
    75% {
    	height: 0%;
    }
    100% {
    	height: 0%;
    }
}

@keyframes intro-hover-off-c {
    0% {
		width: 100%;
    }
    25% {
		width: 100%;
    }
    50% {
    	width: 0%;
    }
    100% {
    	width: 0%;
    }
}

@keyframes intro-hover-off-d {
    0% {
		height: 100%;
    }
    25% {
		height: 0%;
    }
    100% {
    	height: 0%;
    }
}