.three-post-listing {
	padding-top: 72px;

	.three-post-listing__title {
		@include font-size(32px);
		margin-bottom: 24px;
		color: $midnight-blue-5;
		font-family: $code-light-font;	
		position: relative;
		display: inline-block;
		background-color: $site-background-color;
	}

	a {
		padding: 0 32px 0 16px;
		position: relative;
		text-decoration: none;

		&:before, &:after {
			content: '';
			position: absolute;
		}

		&:before {
			border: 1px solid $midnight-blue-5;
			width: 100%;
			top: 8px;
			left: 50%;
			height: 100%;
			margin-left: -50%;
			z-index: -1;
			display: inline-block;
			@include transition(border .3s ease);
		}

		&:hover {

			&:before {
				border: 1px solid $midnight-blue-3;
			}

			p {
				color: $midnight-blue-3;
			}
		}

		h2 {
			padding: 0 10px;
			@include font-size(16px);
			color: $midnight-blue-4;
			display: inline-block;
			background-color: $site-background-color;
			margin-bottom: 18px;
			text-transform: uppercase;
			max-width: 85%;
			@include transition(0.35s);
			overflow: hidden;
			position: relative;

			&:hover {

				&:after {
					left: 0;
				}
			}

			&:after {
				content: '';
				position: absolute;
				height: 1px;
				background-color: $midnight-blue-2;
				width: 100%;
				bottom: 0;
				left: 100%;
				@include transition(left .3s ease);
			}
		}

		img {
			max-width: 100%;
			vertical-align: top;
			margin-bottom: 18px;
			width: 100%;
		}

		p {
			margin-bottom: 18px;
			@include transition(color .3s ease);
		}
	}	

	.three-post-listing-inner {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}